ul {
  background-color: blue;
}
body > ul > li:nth-child(2) {
  width: 100px;
  height: 100px;
}
body > ul > li:nth-child(1) > ul > li:nth-child(2),
body > ul > li:nth-child(3) > ul > li:nth-child(3) {
  background-color: red;
}

body > ul > li > ul > li:nth-child(2) {
  font-weight: bold;
}

div p:first-child {
  border: solid 2px;
  border-color: red;
  background-color: black;
  color: aliceblue;
  padding: 10px;
}

div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  width: 100%;
}

div:nth-of-type(2) > div:nth-of-type(odd) {
  width: 30%;
  background-color: blue;
}
div:nth-of-type(2),
div:nth-of-type(2) > div:nth-of-type(odd) {
  /* margin: 20px; */
}

.gallery {
  display: flex;
}

.img {
  height: 150px;
  width: 200px;
  background-color: aqua;
}
.img:hover {
  zoom: 150%;
}
